<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @store.city.state.name %>
</p>

<p>
  <b>City:</b>
  <%= @store.city.name %>
</p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Address:</b>
  <%= @store.address %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
